Style 
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
  /* Установите цвет фона */
}
h2{
  display: flex;
  justify-content: center;
}


.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.product-container {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 170px;
  background-color: #fff;
  /* Белый фон */
  border-radius: 8px;
  /* Добавьте закругленные углы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Добавьте слегка заметную тень */
}

.product-image {
  width: 100%;
  max-height: 100px;
  border-radius: 8px;
  /* Закругленные углы для изображений */
}

.add-to-cart-btn {
  background-color: #4c60af;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  /* Добавьте плавный переход */
}

.add-to-cart-btn:hover {
  background-color: #6645a0;
  /* Затемните цвет при наведении */
}

.cart {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.cart-icon {
  width: 30px;
  height: 30px;
  background-color: #604caf;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  /* Увеличьте жирность шрифта для лучшей видимости */
}

.cart-items {
  text-align: right;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: none;
  /* По умолчанию скройте */
}

.cart-item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 8px;
}

.cart-item img {
  max-width: 35px;
  max-height: 35px;
  margin-right: 10px;
}

.item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.remove-from-cart-btn {
  margin-left: 5px;

}

.cart-items p {
  text-align: left;
  margin: 0;
}


.change-quantity-btn {
  background-color: #5e4caf;
  color: white;
  padding: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 4px;
}

.clear-cart-btn {
  background-color: #3c3985;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 0px;
}

.add-to-cart-btn {
  background-color: #534caf;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}


/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: auto;
}

label {
    margin-top: 8px;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.add-product-form{
  width: 300px;
}

button {
    background-color: #534caf;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
}